@using MyEmployee.Models.Main_Models;
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employees";
}
<style>
    .search 
    {
        border-radius: 10px;
        border: 1px solid;
        padding: 5px;
    }
    .search:active, .search:focus
    {
        border: 1px solid;
    }
</style>
<div class="container mb-3">
    <h1>Employees</h1>
    @if (!string.IsNullOrEmpty((string?)TempData["Result"]))
    {
        <div>
            <p style="color: green;">@TempData["Result"]</p>
        </div>
    }
    <div class="ms-2 d-flex justify-content-between">
        <a asp-controller="Main" asp-action="CreateEmployee" style=" text-decoration: none;"><img src="~/Site Images/Main/plus.png" style="height: 20px" /> <span style="color: green;">New Employee</span></a>
        <form asp-controller="Main" asp-action="Employees" method="get">
            <div class="d-flex">
                <input type="text" name="searchString" placeholder="Search Employee" class="search"/>
                <button type="submit" style="border: none; background-color: transparent;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>       
        </form>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        @foreach (var employee in Model)
        {  
            <div class="col-3  p-3 me-3 border-">
                <div class="mb-3 text-center">
                    <a asp-action="AboutEmployee" asp-route-id="@employee.Id" ><img src="~/Client Added Images/@employee.ProfilePicturePath" alt="@employee.FirstName" class="img-fluid" style="height: 250px" /></a>
                </div>
                <a asp-action="AboutEmployee" asp-route-id="@employee.Id" style="text-decoration: none; color:black;" ><h5 class="text-center">@employee.FirstName @employee.LastName</h5></a>
                <p class="text-success text-center" style="font-size: 20px">@employee.Profession</p>
            </div>
        }
    </div>
</div>