@using MyEmployee.Models.Main_Models;
@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Employees";
}
<div class="container mb-3">
    <h1>Employees</h1>
    <div class="ms-2">
        <a asp-controller="Main" asp-action="CreateEmployee" >New employee</a>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        @foreach (var employee in Model)
        {
            <div class="col-3 border border-dark p-3 me-3 border-">
                <div class="mb-3">
                    <a asp-action="AboutEmployee" asp-route-id="@employee.Id" ><img src="~/Client Added Images/@employee.ProfilePicturePath" alt="@employee.FirstName" class="img-fluid" /></a>
                </div>
                <a asp-action="AboutEmployee" asp-route-id="@employee.Id" style="text-decoration: none; color:black;" ><h5 class="text-center">@employee.FirstName @employee.LastName</h5></a>
            </div>
        }
        @* hello *@
    </div>
</div>