@using Microsoft.AspNetCore.Identity
@model MyEmployee.Models.Admin_Management.ApplicationUserEditADMIN
@{
    var name = Model.FirstName[0].ToString().ToUpper() + Model.FirstName.Substring(1);
    ViewData["Title"] = $"Edit {name} ";
}
<h1>Edit User</h1>
<div class="container">
    <div class="row">
        <form asp-controller="Admin" asp-action="EditUser" id="editForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="col-md-3 mt-3">
                <label asp-for="@Model.FirstName">First Name</label>
                <input type="text" asp-for="@Model.FirstName" value="" class="form-control" autocomplete="on" aria-required="true" placeholder="@Model.FirstName" />
                <span asp-asp-validation-for="@Model.FirstName" class="text-danger" ></span>
            </div> 
            <div class="col-md-3 mt-3">
                <label asp-for="@Model.LastName">Last Name</label>
                <input type="text" asp-for="@Model.LastName" value="" class="form-control" autocomplete="on" aria-required="true" placeholder="@Model.LastName" />
                <span asp-asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="col-md-3 mt-3">
                <label asp-for="@Model.Username">Username</label>
                <input type="text" asp-for="@Model.Username" value="" class="form-control" autocomplete="on" aria-required="true" placeholder="@Model.Username" />
                <span asp-asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <div class="col-md-3 mt-3">
                <label asp-for="@Model.PhoneNumber">PhoneNumber</label>
                <input type="tel" asp-for="@Model.PhoneNumber" value="" class="form-control" aria-required="true" placeholder="@Model.PhoneNumber" />
                <span asp-asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-4 mt-3">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" type="email" class="form-control" value="" aria-required="true" placeholder="@Model.Email" />
                <span asp-asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <a asp-controller="Admin" asp-action="ManageUsers"><button type="submit" onclick="return DisplayAlert(event)" class="btn btn-success">Save</button></a>
            <a asp-controller="Admin" asp-action="ManageUsers"><button type="button" class="btn btn-light">Go Back</button></a>
        </form>
    </div>
</div>
@section Scripts 
{
    <script>
        function DisplayAlert(e) {
            e.preventDefault();
            Swal.fire({
                title: "Are you sure?",
                text: "Your information will be changed",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Save it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Done!",
                        text: "Your Information has been changed.",
                        icon: "success",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    });
                    setTimeout(function ()
                    {
                        document.getElementById("editForm").submit();
                    }, 2000);
                }
            });
            return false;
        }
    </script>
}
