@model MyEmployee.Models.ApplicationRole
@using Microsoft.AspNetCore.Identity
@{
    var role = Model.Name;
    ViewData["Title"] = $"Edit {role}";
}
<style>
    .color-input input[type="color"] {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: middle;
    }

        .color-input input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        .color-input input[type="color"]::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
        }
</style>
<a asp-action="ManageRoles"><img src="~/Site Images/Admin/left-arrow-in-circular-button-black-symbol.png" style="float: left; height: 60px; width: 60px; margin-right: 100px" /></a>
<h1>Edit Role
<a id="deleteForm" asp-action="DeleteRole" asp-route-id="@Model.Id">
    <button data-toggle="tooltip" data-placement="top" title="Delete role" onclick="return DisplayDeleteAlert()" class="fa-solid fa-trash offset-1" style="background: none; border: none; "></button>
</a>
</h1>
<div class="container">
    <div class="row">
        <form method="post" id="editForm" asp-action="EditRole" asp-controller="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating col-md-3 mb-3 mt-3">
                <input asp-for="@Model.Name" class="form-control" aria-required="true" />
                <label asp-for="@Model.Name">Name</label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3 color-input">
                <label asp-for="@Model.Color">Color :</label>
                <input type="color" asp-for="@Model.Color" aria-required="true" />
                <span asp-validation-for="@Model.Color" class="text-danger"></span>
            </div>
            <div class="d-flex">
                <button class="btn btn-success" style="margin-right: 10px" onclick="return DisplayAlert(event)" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        function DisplayAlert(e)
        {
            e.preventDefault();
            Swal.fire({
                title: "Are you sure?",
                text: "Your Role will be changed",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Save it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Done!",
                        text: "Your Role has been changed.",
                        icon: "success",
                        timer: 2000,
                        timerProgressBar: true,
                        showConfirmButton: false
                    });
                    setTimeout(function () {
                        document.getElementById("editForm").submit();
                    }, 2000);
                }
            });
        }
    </script>
}