@using Microsoft.AspNetCore.Identity
@model MyEmployee.Models.ApplicationUser
@{
    var name = Model.FirstName[0].ToString().ToUpper() + Model.FirstName.Substring(1);
    ViewData["Title"] = $"Edit {name} ";
}
<div class="container">
    <div class="row">
        <form  asp-controller="Admin" asp-action="EditUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="col-md-3">
                <label asp-for="@Model.FirstName">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" autocomplete="firstName" aria-required="true" placeholder="your first name" />
                <span asp-asp-validation-for="@Model.FirstName" class="text-danger" ></span>
            </div> 
            <div class="col-md-3">
                <label asp-for="@Model.LastName">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="your last name" />
                <span asp-asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="@Model.UserName">UserName</label>
                <input asp-for="@Model.UserName" class="form-control"  aria-required="true" placeholder="your username" />
                <span asp-asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="@Model.PhoneNumber">PhoneNumber</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" placeholder="your phone number" />
                <span asp-asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label asp-for="@Model.Email">Email</label>
                <input asp-for="@Model.Email" class="form-control" aria-required="true" placeholder="your email" />
                <span asp-asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <a asp-controller="Admin" asp-action="ManageUsers"><button type="submit" class="btn btn-success">Save</button></a>
            <a asp-controller="Admin" asp-action="ManageUsers"><button type="button" class="btn btn-light">Go Back</button></a>
        </form>
    </div>
</div>
