@model Employee
@using MyEmployee.Models.Main_Models
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}
<h1>
    @Model.FirstName @Model.LastName
    <a asp-action="EditEmployee" asp-controller="Main" asp-route-id="@Model.Id" style="color: black; text-decoration: none;"><img src="~/Site Images/Main/pencil.png" alt="edit" style="height:65px" /></a>
</h1>
<div class="container">
    <div class="row">
            <div class="col-md-6">
                <img src="~/Client Added Images/@Model.ProfilePicturePath" style="max-height: 300px;" alt="Employee Profile Picture" />
            </div>
            <div class="col-md-6">
                <h3>General Information:</h3>
                <hr />
                <div class="offset-1">
                    <div class="d-flex">
                        <p><span style="font-weight: bold">First Name:</span> @Model.FirstName</p>
                        <p class="offset-2"><span style="font-weight: bold">Last Name:</span> @Model.LastName</p>
                    </div>
                    <p><span style="font-weight: bold">Phone Number:</span> @Model.Phone</p>
                    <p><span style="font-weight: bold">Email Address:</span> @Model.Email</p>
                    <p><span style="font-weight: bold">Birthday</span> @Model.DateOfBirth</p>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Work Related Information:</h3>
            <hr />
            <p><span style="font-weight: bold">Profession:</span><br /> @Model.Profession</p>
            <p><span style="font-weight: bold">Employment Status:</span><br /> @Model.EmploymentStatus</p>
            <p><span style="font-weight: bold">Hire Date:</span><br /> @Model.HireDate</p>
        </div>
        <div class="col-md-6">
            <h3>Other:</h3>
            <hr />
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <p style="padding-bottom: 10%; border: 1px solid; border-radius: 15px;" class="text-start ps-2 pt-1">@Model.Description</p>
            }
            else
            {
                <p style="padding-bottom: 10%; border: 1px solid; border-radius: 15px;" class="text-start ps-2 pt-1">No Description Provided</p>
            }
            <p><span style="font-weight: bold">Salary:</span><br /> <span style="color: green">@Model.Salary €/Month</span></p>
            <button class="btn btn-success">Promote</button>
            <button class="btn btn-danger">Demote</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col d-flex">
            <button class="btn btn-dark me-2">Employee History</button>
            <form asp-action="DeleteEmployee" asp-controller="Main" asp-route-id ="@Model.Id" method="post">
                <input type="hidden" value="@Model.Id"/>
                <button class="btn btn-secondary">Delete</button>
            </form>
        </div>
    </div>
</div>

